version: '3'
services:
  api:
    build:
      context: ./back
    ports:
    - "8080:8080"
#  front:
#    build:
#      context: ./front
#    ports:
#      - "3000:3000"
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
    - "8000:5432"


