.Homepage {
  /* debug */
  /* background-color: green; */

  height: 47vh;
  width: 75%;
  display: inline-block;  
  position: relative;
}

.AsideNews {
  /* debug */
  /* background-color: red; */
  position: absolute;
  width: 25%;
  height: 94vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-left: 1px solid rgb(82, 143, 204, 0.85);
}

.Container {
  position: relative;
}

.Center {
  /* transform: translate(-50%, -50%); */

  position: absolute;
  top: 71%;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: rgba(255, 255, 255, 0.975);
  /* box-shadow: rgba(58, 61, 65, 0.7) 0px 8px 24px; */

  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.HomeBackground{
  width: 75%;
  height: 100%;
  opacity: 0.85;
  position: fixed;
}

.HomeBackground:hover{
  opacity: 0.8;
}

.CFeed{
  margin-left: 10%;
  margin-top: 5%;
}

.Article{
  margin-top: 5%;
}


.HHome, .HNews {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: #528FCC;
  padding-left: 1%;
}

.HNews{
  margin-top: 5%;
  padding-left: 5%;
}





.Bottom{
  position: absolute;
  top: 180%;
  width: 100%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: white;
  padding-right: 2vw;
}

.fa-twitter {
  color: white;
  padding-right: 2vw;
}

.fa-linkedin {
  color: white;
  padding-right: 2vw;
}