.CLogin, .CRegisterLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CRegisterLink{
  padding-top: 4%;
}

.flex-container {
  display: flex;
  margin-left: 12%;
}

.float-child{
  padding-top: 4%;
  flex: 1;
}

.g-signin2{
  float: right;
  margin-left: 20px;
}