.CRegister, .BSubmit, .CLoginLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BSubmit {
  padding-top: 4%;
}

.BSubmit img {
  text-align: right;
}

.CLoginLink {
  padding-top: 4%;
}

.HRegister{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: #528FCC;
  padding-top: 1%;
}