.CRegister, .BSubmit, .CLoginLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BSubmit {
  padding-top: 4%;
}

.BSubmit img {
  text-align: right;
}

.CLoginLink {
  padding-top: 4%;
}